{% extends "layout.html" %}
{% block title %}
Discover brilliant ideas
{% endblock %}
{% block main %}
	{% for row in rows %}
	
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
		<div class="col">
			<div class="card shadow-sm">
				<div class="card-body">
					<img alt="Idea image" class="img-fluid" src="{{ row['img'] }}">
					<h3>{{ row['title'] }}</h3>
					<p class="card-text">{{ row['description'] }}</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
							<button type="button" class="btn btn-sm btn-outline-secondary">Read More</button>
						</div>
						<small class="text-body-secondary">{{ row['votes'] }} Votes</small>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
{% endblock %}