{% extends "layout.html" %}
{% block title %}
Discover brilliant ideas
{% endblock %}
{% block main %}


{% if session["user_id"] %}
<!--if logged in show this-->
<!--ADDITIONAL NAV FOR USER-->

{% endif %}

	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
		{% for row in rows %}
		<div class="col">
			<div class="card shadow-sm border-0">
				<div class="card-body">
					<img alt="Idea image" class="img-fluid animate__animated animate__fadeIn" src="{{ row['img'] }}">
					<div class="p-3">
					{% if editing %}
					<div id="card_actions" class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
							<form action="delete" method="POST">
								<input type="text" name="idea_number_field" value="{{ row['idea_id'] }}" style="display:none">
								<button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> DELETE</button>
							</form>
						</div>
					</div>
					{% endif %}
						<hr>
						<h3>{{ row['title'] }}</h3>
						<small class="text-primary">{{ row['datetime'] }}</small>
						<p class="card-text">{{ row['description'] [:160] }} ...</p> <!--limit characters-->
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<form action="vote" method="POST" id="vote_form">
									<input type="text" name="idea_number_field" value="{{ row['idea_id'] }}" style="display:none">
									<button type="submit" id="idea-{{ row['idea_id'] }}" class="btn btn-outline-light btn-lg"><i class="bi bi-heart-fill text-danger"></i></button>
								</form>
							</div>
							<small class="text-body-secondary">{{ row['votes'] }} Votes</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}